.wrapper
  =form_for @speaker do |f|
    %label Name:
    %p=f.text_field :name
    %label Youtube Link:
    %p=f.text_field :youtube
    %label Thumbnail
    %p=f.file_field :thumbnail
    %p=f.submit