<div class="wrapper padded">
  <div class="box">
    <div class="facebook">
      <a href="/auth/facebook" class="user_fb fb_login">
        <span>Connect with Facebook</span>
      </a>
    </div>
    <h2>Or Sign in to Your TEDxYale Account</h2>
    <div class="form">
      <%= form_tag sessions_path do %>
        <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
        <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
        <%= submit_tag "Login", :class => "submit" %>
      <% end %>
    </div>
    <!-- <a href="/speaker_login" class="login_link">Log in as Speaker Instead</a> -->
  </div>
</div>