.wrapper
  .box
    .facebook
      .user_fb.fb_login
        %span Connect with Facebook
    %h2 Or Sign in to Your TEDxYale Account
    .form
      =form_tag sessions_path do
        =text_field_tag :email, params[:email], :placeholder => "Email"
        =password_field_tag :password, params[:password], :placeholder => "Password"
        =submit_tag "Login", :class => "submit"
    %a(href="/speaker_login" class="login_link") Log in as Speaker Instead