<div class="login_container">
	<div class="login_header">Administrator Login </div>
	<div class="login_form">  
	<%= form_tag sessions_path do %>  
	  <div class="login_field">  
		<div class="login_label">Email:</div>
		<%= text_field_tag :email, params[:email], :class => "login_input" %>  
	  </div>  
	  <div class="login_field">  
		<div class="login_label">Password:</div>
		<%= password_field_tag :password %>  
	  </div>  
	  <div><%= submit_tag "Login", :class => "login_button" %></div>  
	<% end %>
	</div>
</div>