<h1>Join the TEDxYale Team</h1>
<p>The TEDxYale team is made up of a small number of committed Yale students. Ranging different majors and classes, our team is looking to add new talent to its already diverse ranks. If you're interested in getting involved or joining one of our three teams, provide your information below and answer a few questions.</p>
<form>
  <input name='name' class="name" placeholder="Full Name"/>
  <input name='email' class="email" placeholder="Email Address"/>
  <input name='affiliation' class="affiliation" placeholder="Yale Affiliation"/>
  <input name='year' class="year" placeholder="Graduation Year"/>
  <p>Provide a short description of yourself:</p>
  <textarea name='bio' class='bio' placeholder='We want to hear about you'></textarea>
</form>
<button class="next teams">Choose a Team &rarr;</button>