<h1>Describe an Experience</h1>
<form>
  <p>Describe one accomplishment that you are proud of that would contribute to the TEDxYale team:</p>
  <textarea name="experiences" class="experiences" placeholder="We just want to hear one..."></textarea>
  <button type="submit" class="next">Submit Information</button>
</form>
  