<div class="apply-background"></div>
<div class="wrapper">
  <div class="application">
    <div class="panel">
      <h1>Apply for the TEDxYale Team</h1>
      <br/>
      <form id="application-form">
        <div class="field">
          <label>Full Name</label>
          <input name='name' class="name"/>
        </div>
        <div class="field">
          <label>Email Address</label>
          <input name='email' class="email"/>
        </div>
        <div class="field">
          <label>Residential College</label>
          <input name='affiliation' class="affiliation"/>
        </div>
        <div class="field">
          <label>Graduation Year</label>
          <input name='year' class="year"/>
        </div>
        <div class="field">
          <label>Intended Major</label>
          <input name='major' class="major"/>
        </div>
        <div class="field">
          <label>Hometown (Home State or Country)</label>
          <input name='hometown' class="hometown"/>
        </div>
      </form>
      <div class="form-questions"></div>
      <h1>Specific Roles</h1>
      <p>If you are interested in filling one of the below roles, please fill out the additional questions. Otherwise, continue to submit your application.</p>
      <div class="form-roles"></div>
      <br/>
      <div class="form-footer">
        <div class="error" style="display: none"></div>
        <button class="submit"><span>☺</span> Apply for TEDxYale</button>
      </div>
    </div><div class="menu">
      <h2>About the Process</h2>
      <p>TEDxYale is a student organization dedicated to ideas worth spreading.  Each year, we bring exciting speakers to Yale’s campus and invite them to connect with a diverse audience through the medium of brief, powerful TED Talks.  We organize a flagship conference and several smaller events throughout the academic year.</p>

      <p>Our team makes all of that happen.  We are usually about 15 members strong, from all years, majors, continents, and interests but share a passion for TED and for bringing it to Yale.  We have about one meeting a week, sometimes a second with your smaller committee, and more when an event is coming up.</p>

      <p>We are looking for a variety of skills and experience, but we’re looking for people who solve problems, are willing to jump in wherever they’re needed, and, of course, share our passion for TED Talks and ideas worth spreading.</p>
      
    </div>
  </div>
</div>