<div class="wrapper">
  <div class="application">
    <div class="panel"></div>
    <div class="menu">
      <ul>
        <li><button class="basic">Basic Information</button></li>
        <li><button class="teams">Team Selection</button></li>
        <li><button class="experience">Experience</button></li>
        <div id="pointer"></div>
      </ul>
    </div>
  </div>
</div>