<h1>Choose Your Team</h1>
<p>TEDxYale is made up of three core teams. Let us know which team you're interested in joining based on their descriptions below.</p>
<div class="teams">
  <div class="team events">
    <h3>Event Management</h3>
    <ul>
      <li>- Speaker recruitment and coordination</li>
      <li>- Audience curation</li>
      <li>- Event production and filming</li>
    </ul>
  </div>
  <div class="team finance">
    <h3>Finance</h3>
    <ul>
      <li>- Budget management</li>
      <li>- Sponsorship opportunities</li>
    </ul>
  </div>
  <div class="team community">
    <h3>Community Relations</h3>
    <ul>
      <li>- Social outreach</li>
      <li>- Community and team meetups</li>
      <li>- Brand curation</li>
      <li>- Website development and design</li>
    </ul>
  </div>
</div>
<button class="next experience">Tell Us a Story &rarr;</button>