<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @name %>,</p>
    <b>Thank you for applying to join the TEDxYale team!</b>
    <p>We will look over your application and get back to you as soon as we can. If you have any questions, don't hesitate to email <a href="mailto:curator@tedxyale.com">curator@tedxyale.com</a>.</p>
    <p>Best,</p>
    <p>The TEDxYale Team</p>
  </body>
</html>