<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <b>
      TEDxYale has a new user:
    </b>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
  </body>
</html>
