<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <b>
      You've been promoted to admin!
    </b>
    <p>You now have access to the admin panel <a href='http://tedxyale.com/admin/events'>here</a></p>
    <p>You also have access to our new <a href='http://tedxyale.com/wiki'>TEDxYale Wiki</a></p>
    <p>Best,</p>
    <p>TEDxYale</p>
  </body>
</html>
