<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>>Hi <%= @app.name.split().first %>,</p>
    <p>My name is <%= @curator %>, and I'm one of the co-curators for <a href="http://tedxyale.com">TEDxYale</a>. As part of organizing TEDxYale 2014, which will be held on March 29th, we are holding a student speaker competition. Each year, our conference hosts a diverse range of speakers, including a small group of students. This year's competition is different from previous ones, because we are encouraging students to nominate their peers to audition. <b>And we'd like to congratulate you for being nominated!</b></p>
    <p>This means that one of your friends thinks you would give an excellent TED talk, and we'd love to have you audition! The first round of auditions will be held on Tuesday, November 19th, and you would be responsible for a short (3 minute) summary of your possible TED talk. If you think this is something you'd like to pursue, please either respond to this email or sign up to speak on our <a href="http://tedxyale.com/2014#become_a_speaker">website</a>.</p>
    <p>Looking forward to hearing your TED talk,</p>
    <p><%= @curator.split().first %></p>
  </body>
</html>