<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <img style="width: 100%;" src="http://tedxyale.com/assets/2013_header.jpg"/>
    <p>Hi <%= @ticket.name %>,</p>
    <p>This email confirms your purchase of a $10 <b>TEDxYale 2013 Early Bird Ticket</b>.</p>
    <p>TEDxYale 2013 will be held on Saturday, February 23rd, 2013, in the Shubert Theater (247 College Street, New Haven, CT 06510). 25 speakers, composed of Yale faculty, alumni and students, will perform. As the event gets closer, we will ask you for more information regarding your name tag. If you have any questions, don't hesitate to contact us at <a href="mailto:curator@tedxyale.com">curator@tedxyale.com</a>.</p>
    <p>Best,</p>
    <p>Paul Fletcher-Hill and Grier Barnes, TEDxYale Curators</p>
  </body>
</html>