<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      You have successfully registered for the TEDxYale Salon on April 10th with Saman Arbabi. On April 10th, please arrive at the Sculpture Building between 5:30 and 6:00. We will be streaming parts of TEDxChange that you won't want to miss.
    </p><br/>
    <p>Thanks for registering!</p>
  </body>
</html>
