<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <b>Welcome to the TEDxYale Community! We're glad you're with us.</b>
    <p>In order to keep you updated on what's going on at TEDxYale, we will send you occasional newsletters and notices when events are announced. TEDxYale hosts an annual conference in February and monthly salons. Information regarding our events can be found at <a href='http://tedxyale.com/events'>http://tedxyale.com/events</a>. Additionally, if you'd like to learn more about TEDxYale or the team behind it, check out <a href="http://tedxyale.com/about">http://tedxyale.com/about</a>.</p>
    <p>TEDxYale is a growing organization. We have come a long way in our short lifespan, but we'd appreciate it if you helped us continue growing. If you have any ideas or ways of making TEDxYale a better experience, or if you have a fantastic speaker you'd like to hear speak, let us know. You can respond to this email or reach us at <a href="mailto:curator@tedxyale.com">curator@tedxyale.com</a>.</p>
    <p>Best,</p>
    <p>The TEDxYale Team</p>
  </body>
</html>
