<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <b>
      Welcome to the TEDxYale Community! We're glad you're with us. 
    </b>
    <p>This account will provide you with a number of unique opportunities. Firstly, check out your TEDxYale dashboard <a href="http://tedxyale.com/dashboard/current_events">here</a>. Secondly, now that you have your account, when a new TEDxYale event is published you will receive an email and have the opportunity to register for it with a click. If you'd like to see all current TEDxYale events go <a href="http://tedxyale.com/events">here</a>.</p>
    <p>TEDxYale is a growing organization. We have come a long way in our short lifespan, but we'd appreciate it if you helped us continue growing. If you have any ideas or ways of making TEDxYale a better experience, or if you have a fantastic speaker you'd like to hear speak, let us know. You can respond to this email or reach us at <a href="mailto:curator@tedxyale.com">curator@tedxyale.com</a>.</p>
    <p>Best,</p>
    <p>TEDxYale</p>
  </body>
</html>
