<div class="wrapper padded">
  <%= render "menu" %>
  
  <div class="admin_container speakers">
    <h1>Competition Votes (<%= Vote.count %>)</h1>

    <table>
      <thead>
        <tr>
          <% @student_speakers.each do |s| %>
            <th><%= s.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @student_speakers.each do |s| %>
            <td><%= s.votes_count %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>