<div class="student_leader">
  <div class="rank_info"><%= rank %>. <%= name %></div>
  <div class="rank_image">
    <img src="<%= thumbnail %>"/>
    <div class="image_cover"></div>
    <div class="rank_votes"><%= votes %></div>
  </div>
</div>