<div id="player"></div>
<div id="speaker-menu">
  <div class="name"><%= name %>, <b><%= votes %></b> Votes</div>
  <button class="vote" data-id="<%= id %>">Vote for <%= name.split(' ')[0] %></button>
</div>
