<div class="conference-header">
  <div class="conference-container">
    <a href="#">Solve for y</a>
    <a href="#speakers">Speakers</a>
    <a href="#when">When & Where</a>
    <a href="#schedule">Schedule</a>
    <a href="#partners">Partners</a>
    <a href="/early_bird" class="register_to_attend">Register to Attend</a>
  </div>
</div>
<div class="conference-body home">
  <div class="conference-container">
    <div class="theme">
      <div class="theme-left">Solve for y</div>
      <div class="theme-right">February 23rd<br/>Shubert Theater</div>
    </div>
  </div>
</div>
<div class="conference-body grey speakers">
  <div class="conference-container">
    <h1>The Speakers</h1>
  </div>
</div>
<div class="conference-body when">
  <div class="conference-container">
    <h1>When & Where</h1>
  </div>
</div>
<div class="conference-body grey schedule">
  <div class="conference-container">
    <h1>The Schedule</h1>
  </div>
</div>
<div class="conference-body partners">
  <div class="conference-container">
    <h1>The Partners</h1>
  </div>
</div>