<div class="lightbox-header">
  <div class="close">Close</div>
  <div class="name"><%= name %></div>
</div>
<div class="image"><img src="<%= thumbnail %>"/></div>
<div class="bio">
  <%= bio %>
</div>