<div class="application">
	<div class="application_header" id="design_header">
		Design & Branding Team Application
		<div class="app_header_description_text" id="app_header_description_text_design">Descriptions</div>
	</div>
	<div class="app_descriptions">
		<div class="join_app_description">The Community and Public Relations Team will be responsible for the public face of TEDxYale through social media and community outreach initiatives.</div>
		<div class="join_app_pos" id="join_app_pos_1">
			<div class="pos_title" id="pos_1_title">EXECUTIVE DIRECTOR</div>
			<div class="pos_description" id="pos_1_description">You will be fully accountable for your team and should have domain expertise. You will be responsible for weekly team meetings with other execs and the curators. This is a significant commitment. (Please note you can be the executive director as well as fill other positions on the team).</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_2">
			<div class="pos_title" id="pos_2_title">DEVELOPER</div>
			<div class="pos_description" id="pos_2_description">You will be in charge of the upkeep and visibility of the Twitter and Facebook page as well as in charge of a weekly Tumblr blog entry by curating and developing content. You will also be responsible for the community newsletters.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_3">
			<div class="pos_title" id="pos_3_title">GRAPHIC DESIGNER</div>
			<div class="pos_description" id="pos_3_description">You will be in charge of event campaigns and ensuring a TEDxYale presence at Yale events such as Bulldog Days. You will be responsible for coming up with creative and innovative marketing strategies to build the name of TEDxYale.</div>
		</div>
	</div>
	<div class="team_application">
		<%= render 'design_form' %>
	</div>
	<div class="app_footer"></div>
</div>