<div class="application">
	<div class="application_header" id="events_header">
		Events Team Application
		<div class="app_header_description_text" id="app_header_description_text_events">Descriptions</div>
	</div>
	<div class="app_descriptions">
		<div class="join_app_description">The Community and Public Relations Team will be responsible for the public face of TEDxYale through social media and community outreach initiatives.</div>
		<div class="join_app_pos" id="join_app_pos_1">
			<div class="pos_title" id="pos_1_title">EXECUTIVE DIRECTOR</div>
			<div class="pos_description" id="pos_1_description">You will be fully accountable for your team and should have domain expertise. You will be responsible for weekly team meetings with other execs and the curators. This is a significant commitment. (Please note you can be the executive director as well as fill other positions on the team).</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_2">
			<div class="pos_title" id="pos_2_title">CONFERENCE DIRECTOR</div>
			<div class="pos_description" id="pos_2_description">You will be responsible for non theatrical conference management including ticketing, food, registration and post conference activities. You will work closely with the curators to make sure that the non-theatrical aspects of the conference run smoothly.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_3">
			<div class="pos_title" id="pos_3_title">SALONS DIRECTOR</div>
			<div class="pos_description" id="pos_3_description">You will be responsible for the selection of speakers and the organisation of all TEDxYale Salons.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_4">
			<div class="pos_title" id="pos_4_title">SPEAKERS DIRECTOR</div>
			<div class="pos_description" id="pos_4_description">You will be responsible for organising logistics for the TEDxYale conference speakers, speaker training sessions and the planning and execution of the Student Speaker Competition. You will also be the point person for the conference speakers on the day of the conference.</div>
		</div>
	</div>
	<div class="team_application">
		<%= render 'events_form' %>
	</div>
	<div class="app_footer"></div>
</div>