<div class="application">
	<div class="application_header" id="finance_header">
		Design Team Application
		<div class="app_header_description_text" id="app_header_description_text_finance">Descriptions</div>
	</div>
	<div class="app_descriptions">
		<div class="join_app_description">The Community and Public Relations Team will be responsible for the public face of TEDxYale through social media and community outreach initiatives.</div>
		<div class="join_app_pos" id="join_app_pos_1">
			<div class="pos_title" id="pos_1_title">EXECUTIVE DIRECTOR</div>
			<div class="pos_description" id="pos_1_description">You will be fully accountable for your team and should have domain expertise. You will be responsible for weekly team meetings with other execs and the curators. This is a significant commitment. (Please note you can be the executive director as well as fill other positions on the team).</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_2">
			<div class="pos_title" id="pos_2_title">FINANCE DIRECTOR</div>
			<div class="pos_description" id="pos_2_description">You will be responsible for filing taxes, keeping the books, invoicing and reimbursements for TEDxYale expenses. You will also be required to ensure 501c3 compliance. Experience handling finances is crucial.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_3">
			<div class="pos_title" id="pos_3_title">FUNDRAISING DIRECTOR</div>
			<div class="pos_description" id="pos_3_description">You will be responsible for sponsorship management and fundraising campaigns. You will work closely with the marketing director to raise money.</div>
		</div>
	</div>
	<div class="team_application">
		<%= render 'finance_form' %>
	</div>
	<div class="app_footer"></div>
</div>