<div class="join_header">Join the TEDxYale Team</div>
<!--<div class="join_description">TEDxYale 2012 was a great success. Do you want to help us make TEDxYale 2013 even better?</div>-->
<div class="join_deck">
	<div class="join_item" id="comm_pr_item">Community & PR Team</div>
	<div class="join_item" id="design_branding_item">Design & Branding Team</div>
	<div class="join_item" id="events_item">Events Team</div>
	<div class="join_item" id="finance_item">Finance Team</div>
	<div class="join_item" id="production_item">Production Team</div>
</div>
<div class="join_app">
	<div class="join_app_description"></div>
	<div class="join_app_pos" id="join_app_pos_1">
		<div class="pos_title" id="pos_1_title"></div>
		<div class="pos_description" id="pos_1_description"></div>
	</div>
	<div class="join_app_pos" id="join_app_pos_2">
		<div class="pos_title" id="pos_2_title"></div>
		<div class="pos_description" id="pos_2_description"></div>
	</div>
	<div class="join_app_pos" id="join_app_pos_3">
		<div class="pos_title" id="pos_3_title"></div>
		<div class="pos_description" id="pos_3_description"></div>
	</div>
	<div class="join_app_pos" id="join_app_pos_4">
		<div class="pos_title" id="pos_4_title"></div>
		<div class="pos_description" id="pos_4_description"></div>
	</div>
	<div class="join_app_pos" id="join_app_pos_5">
		<div class="pos_title" id="pos_5_title"></div>
		<div class="pos_description" id="pos_5_description"></div>
	</div>
	<div class="join_app_pos" id="join_app_pos_6">
		<div class="pos_title" id="pos_6_title"></div>
		<div class="pos_description" id="pos_6_description"></div>
	</div>
	<a class="join_app_button_link" href=""><div class="join_app_button"></div></a>
</div>