.wrapper
  / .signup
  /     %a(href='/2013' class="ssc_announcement")
  /       #text Speak At TEDxYale 2013
  .signup 
    / %h1 Get Involved with TEDxYale
    /     %h2 You'll thank us later...
    /     #user_form.form
    %a( href='/2013' )
      %img( src="/assets/2013_header.jpg")
    %span 25 Speakers.
    %span 1 Day.
    %a( href="http://www.eventbrite.com/event/4584153326" target="_blank" class="announcement-button" ) Reserve Your Ticket Now
  .icons
    .icon.events
      %a.symbol.events( href="/events" )
      %h3 Events
      .description From our annual conference to monthly salons, TEDxYale is all about events. Each one is unique with a different speaker, a different location, and a different audience. 
    .icon.tv
      %a.symbol.tv( href="/tv" )
      %h3 TEDxYale TV
      .description Each event is filmed, and we have collected all of our talks and a large selection of TED talks affiliated with Yale in some way. Search for a specific video or have us select one randomly for you.
    .icon.community
      %a.symbol.community( href="/about" )
      %h3 Community
      .description TED conferences are not lectures, they are experiences. TEDxYale is in the process of creating a vibrant community centered around the sharing of ideas and experiences. 
    .icon.conference
      %a.symbol.conference( href="/events" )
      %h3 2013
      .description Our annual conference is coming to Yale again in February 2013. Details will be updated as they are confirmed, so stay tuned.
.padding

:javascript
  $(function() {
    window.router = new TEDxYale.Routers.Router({user: #{@user.to_json.html_safe}});
    Backbone.history.start();
  });
