<div class="application">
	<div class="application_header" id="production_header">
		Production Team Application
		<div class="app_header_description_text" id="app_header_description_text_production">Descriptions</div>
	</div>
	<div class="app_descriptions">
		<div class="join_app_description">The Community and Public Relations Team will be responsible for the public face of TEDxYale through social media and community outreach initiatives.</div>
		<div class="join_app_pos" id="join_app_pos_1">
			<div class="pos_title" id="pos_1_title">STAGE MANAGER</div>
			<div class="pos_description" id="pos_1_description">You will be responsible for running TEDxYale as a theatrical event. This involves overseeing lights, sound, set and video. You will be responsible for weekly team meetings with other execs and the curators. This is a significant commitment.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_2">
			<div class="pos_title" id="pos_2_title">SET DESIGNER</div>
			<div class="pos_description" id="pos_2_description">You will be responsible for building the set for TEDxYale 2013 and any other TEDxYale events where a set may be required, such as filming the trailer or some salons.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_3">
			<div class="pos_title" id="pos_3_title">LIGHTS & SOUND DIRECTOR</div>
			<div class="pos_description" id="pos_3_description">You will be responsible for coordinating the lights and sound for TEDxYale 2013 and any other TEDxYale events such as Salons.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_4">
			<div class="pos_title" id="pos_4_title">VIDEO DIRECTOR</div>
			<div class="pos_description" id="pos_4_description">You will be responsible for managing the video recording and editing for TEDxYale 2013 and any other events such as Salons. Video equipment handling and Final Cut Pro experience is crucial.</div>
		</div>
		<div class="join_app_pos" id="join_app_pos_5">
			<div class="pos_title" id="pos_5_title">PHOTOGRAPHER</div>
			<div class="pos_description" id="pos_5_description">You will be responsible for the photography of TEDxYale 2013 and any other events such as Salons. You will also update the TEDxYale Flickr account. Photoshop experience is crucial.</div>
		</div>
	</div>
	<div class="team_application">
		<%= render 'production_form' %>
	</div>
	<div class="app_footer"></div>
</div>