.wrapper.padded
  .videos_info
    %h2 TEDxYale TV
    %h5 TEDxYale TV combines TED talks given at our annual conference with talks from the Yale community. Various alumni, students, and professors affiliated with Yale have given TED talks, as you can see below.
.player
  .player_container
    .close
.wrapper
  //.nav_bar
  .videos
    -@videos.each do |video|
      .video{'code' => "#{video.link.split('/')[3]}"}
        .event= video.event
        .image
          =image_tag video.still.url(:small)
          .play_cover
          .play
        .info
          .title= video.title
          -if video.speaker != ''
            .speaker= video.speaker
