.wrapper
  .announcement.student_speakers
    %h1.message Help Pick 2013's Student Speakers
  / .student_speaker
  /     %a(href="/become_a_speaker" class="student_speakers")
  /       %h2 Audition for a Student Speaker Position
  #students
  
:javascript
  $(function() {
    window.router = new TEDxYale.Routers.CompetitionRouter({currentUser: #{current_user.to_json.html_safe}});
    Backbone.history.start();
  });