<div class="banner kevin-olusola"></div>
<div class="wrapper banner-wrapper current-salon">
  <br/>
  <h2>About the Event</h2>
  <p><b>Kevin "K.O" Olusola (Morse '11)</b> is the beat-boxer for the a capella group Pentatonix, winner of NBC's "The Sing-Off", whose most recent album, PTX Vol.2,  catapulted onto the Billboard Top 10. In 2011, Kevin's <a href="http://www.youtube.com/watch?v=37kDLZonLMk">Julie-O "celloboxing" YouTube video</a> was featured by CBS, AOL, Huffington Post, and Washington Post, among others. He will talk about his journey through Yale and post-Yale and the experiences in the music industry that have led him to be where he is today.</p>
  <a class="salon-button" target="_blank" href="http://www.eventbrite.com/e/tedxyale-presents-kevin-olusola-tickets-10662059507">
    Reserve Your Spot Today
  </a>
</div>