.banner
  .banner-bg
    %video(autoplay loop="loop" id="video-background" width="100%")
      %source(src="" type="video/mp4")
  %a{:href => "/2014"}
    .banner-text
      - if @seconds_left >= 0
        %h1
          %span(id = "js-countdown")= @time_left
          to Vote
        %h4 We've selected 10 incredible student speakers to compete in the final round of our Student Speaker Competition. <b>Cast your votes now!</b>
      - else
        %h1 Voting is closed
        %h4 Congratulations to the three winners of this year's TEDxYale Student Speaker Competition. <b>See them now!</b>
.wrapper.banner-wrapper
  .icons
    .icon.events
      %a.symbol.events( href="/events" )
      %h3 Events
      .description From our annual conference to monthly salons, TEDxYale is all about events. Each one is unique with a different speaker, a different location, and a different audience. 
    .icon.tv
      %a.symbol.tv( href="/tv" )
      %h3 TEDxYale TV
      .description Each event is filmed, and we have collected all of our talks and a large selection of TED talks affiliated with Yale in some way. Search for a specific video or have us select one randomly for you.
    .icon.community
      %a.symbol.community( href="/about" )
      %h3 Community
      .description TED conferences are not lectures, they are experiences. TEDxYale is in the process of creating a vibrant community centered around the sharing of ideas and experiences. 
    .icon.conference
      %a.symbol.conference( href="/events" )
      %h3 2013
      .description Last year's February conference at the Shubert Theater was an incredible success! The talks are available on Youtube for viewing.
.padding
