<div class="add_info">
  <h2>Thanks for signing up, <span class='name'><%= name %></span>! We'd love to know more about you...</h2>
  <form id='update-user' name='user'>
    <input type='text' class='affiliation' placeholder="Yale Affiliation" name="affiliation"/>
    <input type='text' class='year' placeholder="Graduation Year" name="year"/>
    <input type="submit" value="Add Info" class="register">
  </form>
</div>