<form id="new-user" name="user">
  <input type='text' class='validates' placeholder="Full Name" name="name"/>
  <input type='text' class='validates' placeholder="Email Address" name="email"/>
  <input type='submit' value="Signup" class="register">
</form>