.wrapper
  = render :partial => 'menu'
  .menu_right.no_list
    =form_for @wiki do |f|
      =f.text_field :title, :value => @wiki.title, :class => "wiki_title"
      %h5 Remember to use html
      =f.text_area :body, :value => @wiki.body, :class => "wiki_body"
      =f.submit "Update Wiki", :class => "wiki_submit"