// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.wrapper {
  .left {
    width: 280px;
    margin-right: 20px;
    float: left;
    padding-left: 5px;
    position: fixed;
    h3 {
      @include HN-Bold;
      color: #333;
      font-size: 45px;
      line-height: 50px;
      width: 270px;
      margin: 0px;
      padding-left: 10px;
      padding-bottom: 3px;
      border-bottom: 3px solid #888;
    }
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      li {
        @include HN-Bold;
        border-bottom: 1px solid #DADADA;
        font-size: 15px;
        position: relative;
        z-index: 0;
        cursor: pointer;
        color: #333;
        text-decoration: none;
        padding: 10px;
        -webkit-transition: 0.2s;
        &:hover {
          background: #eee;
          background-image: url('/assets/menu_arrow.png');
          background-repeat: no-repeat;
          background-position: 265px;
          background-size: 7px;
        }
        &.active {
          color: #e60000;
        }
      }
    }
  }
  .right {
    width: 700px;
    float: left;
    margin-left: 300px;
    margin-top: 24px;
    .section {
      h4 {
        @include HN-Bold;
        font-size: 20px;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
        border-bottom: 2px solid #dadada;
      }
      p {
        @include HN-Light;
        font-size: 14px;
        line-height: 21px;
      }
      &.current {
        h4 {
          border-bottom: 2px solid #e60000;
        }
      }
      .member {
        width: 50%;
        float: left;
        padding: 15px 0;
        .image {
          float: left;
          padding-right: 15px;
          img {
            width: 100px;
            height: 100px;
          }
        }
        .info {
          padding-top: 20px;
          float: left;
          .name {
            @include HN-Bold;
            color: #333;
            font-size: 15px;
          }
          .title {
            margin-top: 2px;
            @include HN-Regular;
            font-style: italic;
          }
          .twitter {
            margin-top: 2px;
            img {
              height: 15px;
              width: 15px;
              float: left
            }
            a {
              float: left;
              text-decoration: none;
              @include HN-Light;
              line-height: 15px;
              font-size: 13px;
              padding-left: 3px;
              color: #33CCFF;
              &:hover {
                text-decoration: underline;
                color: #29A3CC;
              }
            }
          }
        }
      }
      .partner {
        margin: 15px 0;
        img {
          border: 1px solid #dadada;
        }
      }
    }
  }
}