// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.admin_menu {
  width: 180px;
	position:fixed;
	.title {
	  color: #e60000;
	  font-size: 18px;
	  @include HN-Light;
	  padding: 10px 15px;
	  border-bottom: 1px solid #dadada;
	}
	.item {
	  border-bottom: 1px solid #dadada;
	  &.selected {
	    background: #fafafa;
	    width: 180px;
	    border: 1px solid #bbb;
	    border-right: 0px;
	    a {
	      font-size: 16px;
  	    @include HN-Bold;
  	    color: #333;
  	    text-decoration: none;
  	    display: block;
  	    width: 150px;
  	    height: 100%;
  	    padding: 15px;
  	    &:hover {
  	      background: #fafafa;
  	      background-image: none;
  	    }
	    }
	  }
	  a {
	    font-size: 14px;
	    @include HN-Bold;
	    color: #333;
	    text-decoration: none;
	    display: block;
	    width: 150px;
	    height: 100%;
	    padding: 12px 15px;
	    &:hover {
	      background: #fff;
        background-image: url('/assets/menu_arrow.png');
        background-repeat: no-repeat;
        background-position: 150px;
        background-size: 7px;
	    }
	  }
	}
}
.admin_container {
  width: 800px;
  margin-left: 180px;
  padding-left: 20px;
  min-height: 300px;
  border-left: 1px solid #bbb;
  h1 {
    @include HN-Bold;
    font-size: 25px;
  }
  hr {
    height: 100%;
    width: 1px;
    position: absolute;
    border: 0px;
    background: #BBB;
    margin: 0px;
    left: 506px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      border-bottom: 1px solid #dadada;
      th {
        text-align: left;
        padding: 0px;
        @include HN-Bold;
      }
      td {
        border-collapse: collapse;
        padding: 5px 0px;
        @include HN-Regular;
      }
    }
  }
  .left {
    float: left;
    width: 440px;
    padding-right: 10px;
    position: inherit;
    .form {
      .item {
        margin-bottom: 15px;
        label {
          width: 100%;
          font-size: 15px;
          @include HN-Light;
          color: #777;
          line-height: 20px;
        }
        select {
          
        }
        input, textarea {
          width: 440px;
          padding: 10px;
          border: 1px solid #dadada;
          background: #fff;
          @include HN-Regular;
          outline: none;
          -webkit-transition: .5s;
          &:hover {
            border: 1px solid #bbb;
          }
          &:focus {
            border: 1px solid #e60000;
          }
        }
        input {
          font-size: 16px;
          color: #e60000;
        }
        textarea {
          font-size: 14px;
          line-height: 20px;
          color: #333;
          height: 200px;
        }
        .new_speaker {
          display: none;
        }
        .image {
          img {
            max-width: 440px;
          }
        }
        input[type='submit'] {
          width: 460px;
          text-align: center;
          background: #ff0000;
          @include HN-Regular;
          color: #fff;
          font-size: 15px;
          line-height: 20px;
          text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
          background: -moz-linear-gradient(0% 100% 90deg, #CF0000, #E60000);
      	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E60000), to(#CF0000));
          background: -moz-linear-gradient(0% 100% 90deg, #CF0000, #E60000);
          -pie-background: linear-gradient(#E60000, #CF0000);
          border-radius: 3px;
          border: 1px solid #990000;
          cursor: pointer;
          -webkit-transition: 0s;
          &:hover {
            background: #E60000;
          }
          &:active {
            background: -moz-linear-gradient(0% 100% 90deg, #E60000, #CF0000);
        	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CF0000), to(#E60000));
            background: -moz-linear-gradient(0% 100% 90deg, #E60000, #CF0000);
            -pie-background: linear-gradient(#CF0000, #E60000);
          }
          a {
            height: 100%;
            width: 100%;
            display: block;
            padding: 10px 0;
            color: #fff;
            text-decoration: none;
            span.plus {
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  .right {
    width: 330px;
    position: fixed;
    margin-left: 485px;
    .nav {
      width: 300px;
      padding: 15px;
      background: #fff;
      box-shadow: 0 0 3px rgba(0,0,0,0.4);
      a {
        width: 100%;
        display: block;
        padding: 5px 0px;
        border-top: 1px solid #dadada;
        @include HN-Bold;
        color: #333;
        text-align: center;
        text-decoration:none;
        -webkit-transition: 0.3s;
        &:first-child {
          border-top: 0px;
        }
        &:hover {
          background: #fafafa;
          color: #e60000;
        }
      }
    }
    .list_header {
      width: 100%;
      height: 50px;
      margin-top: 15px;
      .attendees, .checked_in {
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        @include HN-Bold;
        text-align: center;
      }
      .active {
        width: 164px;
        float: left;
        border: 1px solid #bbb;
        border-bottom: 0px;
      }
      .inactive {
        width: 164px;
        float: left;
        border: 0px;
        border-bottom: 1px solid #bbb;
        cursor: pointer;
        &:hover {
          background: #fff;
          border: 1px solid #eee;
          border-bottom: 1px solid #bbb;
          width: 162px;
          height: 29px;
          line-height: 29px;
        }
      }
    }
    .list {
      width: 100%;
    }
  }
}
.index {
  
}
.events {
  overflow: auto;
  .create_event {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header_row {
    height: 30px;
    background: #333;
    .label {
      float:left;
      color: #fff;
      padding: 5px;
      line-height:20px;
    }
    .name {
      width: 240px;
    }
    .location {
      width: 250px;
    }
    .date {
      width: 190px;
    }
    .attending {
      width: 70px;
    }
  }
  .event {
    width: 800px;
    min-height: 30px;
    height: auto;
    border-bottom: 1px solid #dadada;
    cursor:pointer;
    line-height: 20px;
    padding: 0px;
    &:hover {
      background: #eee;
    }
    .name, .location, .date, .attending {
      padding: 5px;
      float: left;
    }
    .name {
      width: 240px;
      img {
        height: 10px;
      }
    }
    .location {
      width: 250px;
    }
    .date {
      width: 190px;
    }
    .attending {
      width: 80px;
    }
  }
}
.finance {
  
}
.users {
  .detail {
    position: fixed;
    width: 300px;
    z-index: 0;
    img {
      width: 100px;
      margin-left: 90px;
      opacity: 0.6;
      margin-top: 30px;
    }
    h5 {
      color: #dadada;
      @include HN-Bold;
      font-size: 20px;
      text-align: center;
    }
    .item {
      clear: both;
      padding: 3px 0;
      .left {
        float: left;
        width: 70px;
        @include HN-Bold;
      }
      .align_right {
        float: left;
        width: 210px;
        @include HN-Light;
      }
    }
  }
  .index {
    width: 500px;
    margin-left: 300px;
    overflow: hidden;
    padding-bottom: 50px;
    .header_row {
      height: 20px;
      border-bottom: 1px solid #e60000;
      .label {
        float:left;
        color: #e60000;
        @include HN-Light;
        padding: 5px;
        line-height:10px;
      }
      .name {
        width: 200px;
        padding-left: 15px;
      }
      .count {
        float: right;
        @include HN-Light;
        color: #e60000;
        font-style: italic;
        margin-right: 10px;
      }
    }
    .user {
      width: 490px;
      padding-left: 10px;
      height: auto;
      clear: both;
      border-bottom: 1px solid #dadada;
      cursor: pointer;
      overflow: auto;
      @include HN-Regular;
      .name {
        float: left;
        width: 200px;
        padding: 8px 5px;
        line-height: 20px;
      }
      .email {
        float: left;
        width: 230px;
        padding: 8px 5px;
        line-height: 20px;
      }
      &:hover {
        background: #fff;
      }
      &.open {
        background: #fafafa;
        margin-left: -1px;
        z-index: 10;
        position: relative;
        border-right: 1px solid #dadada;
        padding-left: 11px;
        width: 489px;
        color: #000;
        cursor: default;
      }
      .close {
        float: left;
        height: 10px;
        width: 10px;
        background-image: url('/assets/x.png');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        margin-top: 13px;
        margin-left: 20px;
        display: none;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.wiki {
  
}
.speakers {
  .create_speaker {
    float: right;
    text-align: right;
    padding: 0px 10px;
    background: transparent;
    border: 1px solid #777;
    -webkit-transition: 0.2s;
    a {
      @include HN-Bold;
      font-size: 13px;
      line-height: 20px;
      text-decoration: none;
      color: #333;
      -webkit-transition: 0.2s;
    }
    &:hover {
      background: white;
      border: 1px solid #cc0000;
      a {
        color: #cc0000;
      }
    }
  }
}