// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.signup {
  width: 1000px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dadada;
  .ssc_announcement {
    position: relative;
    display: block;
    width: 1000px;
    background-image: url('/assets/ted_bg.png');
    height: 200px;
    background-size: 1200px;
    background-position: 0 -100px;
    -webkit-transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-position: -150px -175px;
      background-size: 1500px;
      #text {
        color: white;
      }
    }
    #text {
      position: absolute;
      bottom: 30px;
      left: 20px;
      @include HN-Regular;
      font-size: 40px;
      color: #eee;
      text-decoration: none;
      -webkit-transition: 0.2s;
    }
  }
  h1 {
    @include HN-Bold;
    color: #333;
    font-size: 45px;
  }
  h2 {
    @include HN-Bold;
    color: #555;
    font-size: 25px;
    span {
      color: #e60000;
    }
  }
  .form {
    margin-top: 30px;
    width: 1000px;
    position: relative;
    input:disabled {
      color: #999;
      border: 1px solid #dadada;
      cursor: normal;
      &:hover {
        color: #999;
        border: 1px solid #dadada;
        cursor: normal;
      }
    }
    .confirm {
      margin-top: 30px;
    }
    .add_info {
      margin-top: 30px;
      h2 {
        -webkit-transition: opacity 0.3s;
        opacity: 0;
        line-height: 25px;
      }
      input[type='text'] {
        -webkit-transition: opacity 0.3s;
        opacity: 0
      }
      &.visible {
        h2 {
          opacity: 1;
        }
        input {
          opacity: 1;
        }
      }
    }
    form {
      position: relative;
      input {
        width: 313px;
        padding: 15px;
        line-height: 40px;
        font-size: 20px;
        border: 1px solid #dadada;
        margin: 0px;
        color: #555;
        @include HN-Light;
        outline: none;
        -webkit-transition: border 0.2s;
        &:hover {
          border: 1px solid #999;
        }
        &:focus {
          border: 1px solid #888;
        }
      }
      .password {
        display: none;
        input {
          margin-top: 10px;
        }
      }
      .next_line {
        padding: 15px;
        line-height: 40px;
        font-size: 20px;
        width: 268px;
        position: absolute;
        right: 0px;
        top: 0px;
        background: #eee;
        border: 1px solid #777;
        color: #444;
        @include HN-Light;
        outline: none;
        -webkit-transition: 0.2s;
        cursor: pointer;
        text-align: center;
        &:hover {
          border: 1px solid #555;
          background: #fafafa;
        }
      }
      .register {
        width: 300px;
        position: absolute;
        right: 0px;
        top: 0px;
        background: #eee;
        border: 1px solid #777;
        color: #444;
        @include HN-Light;
        outline: none;
        -webkit-transition: 0.2s;
        cursor: pointer;
        &:hover {
          border: 1px solid #555;
          background: #fafafa;
        }
        &:focus {
          border: 1px solid #555;
          background: #fafafa;
        }
        &:active {
          background: #fff;
        }
        &.confirmed {
          color: #00CC00;
          border: 1px solid transparent;
          background-color: transparent;
          cursor: normal;
          background-image: url('/assets/check.png');
          background-position: 65px;
          background-repeat: no-repeat;
          &:hover {
            background-color: transparent;
            border: 1px solid transparent;
          }
        }
        &.loading {
          background: transparent;
          background-image: url('/assets/loader.gif');
          background-position: center;
          background-repeat: no-repeat;
          color:transparent;
        }
      }
    }
  }
}
.interest {
  width: 1000px;
  border-bottom: 1px solid #dadada;
  padding: 20px 0;
  text-align: center;
  a {
    @include HN-Bold;
    color: #e60000;
    font-size: 18px;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}
.icons {
  width: 1000px;
  padding-top: 50px;
  .icon {
    width: 250px;
    float: left;
    min-height: 200px;
    &:hover {
      .symbol {
        background: #ff0000;
        opacity: 1;
      }
      h3 {
        color: #ff0000;
      }
    }
    .symbol {
      display: block;
      height: 110px;
      width: 110px;
      border-radius: 55px;
      background: #e60000;
      margin-left:70px;
      cursor: pointer;
      -webkit-transition: 0.2s;
      opacity: 0.85;
      &.events {
        background-image: url('/assets/symbol_events.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.tv {
        background-image: url('/assets/symbol_tv.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100px 100px;
      }
      &.community {
        background-image: url('/assets/symbol_community.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.conference {
        background-image: url('/assets/symbol_2013.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 95px 95px;
      }
    }
    h3 {
      text-align: center;
      color: #777;
      @include HN-Light;
      font-size: 18px;
      -webkit-transition: 0.2s;
    }
    .description {
      @include HN-Light;
      font-size: 12px;
      padding: 0px 15px;
      color: #666;
      text-align: center;
    }
  }
}