@import "mixins";

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

// Vars
$width: 1000px;
$panel-width: 600px;
$header-height: 80px;
$bg-height: 300px;
$panel-diff: 50px;

.apply-background {
  width: 100%;
  min-width: $width;
  position: absolute;
  top: $header-height;
  left: 0;
  height: $bg-height;
  background-color: black;
  background-image: asset-url("apply_bg.jpg", image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.error-page {
  text-align: center;
  padding: 100px 0;
  
  h1 {
    @include HN-Bold;
    color: #333;
  }
  
  p {
    @include HN-Light;
  }
  
  a {
    color: red;
    text-decoration: none;
    border-bottom: 1px dotted red;
    
    &:hover {
      border-bottom: 1px solid red;
    }
  }
}

.wrapper {
  
  .application {
    position: relative;
    margin-top: $bg-height - $panel-diff;
    width: $width;
  }
  
  .panel,
  .menu {
    display: inline-block;
    box-sizing: border-box;
    
    h1,
    h2 {
      color: #333;
      margin: 0;
    }
    
    h1 {
      font-size: 60px;
      line-height: 75px;
      @include HN-Light;
    }
    
    h2 {
      @include HN-Bold;
      font-size: 30px;
      line-height: 50px;
    }
    
    p {
      @include HN-Light;
    }
  }
  
  .panel {
    margin-top: $panel-diff;
    width: $panel-width;
    
    h1 {
      font-weight: 100;
    }
  }
  
  .menu {
    display: inline-block;
    vertical-align: top;
    padding: 20px 30px;
    width: $width - $panel-width;
    background: white;
    border: 1px solid #dadada;
  }
  
  .panel {
    padding-right: 50px;
    
    .question {
      margin-bottom: 20px;
    }
    
    input,
    textarea {
      box-sizing: border-box;
    }
    
    label {
      @include HN-Bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block;
    }
    
    input {
      width: 100%;
      padding: 15px 10px;
      font-size: 16px;
      color: #333;
      @include HN-Light;
      border: 1px solid #dadada;
      background: #fff;
      outline: none;
      @include transition(border 0.2s);
      margin-bottom: 10px;
      
      &:hover {
        border: 1px solid #888;
      }
      
      &:focus {
        border: 1px solid #777;
      }
    }
    
    textarea {
      width: 100%;
    }
    
    .error,
    .message {
      font-size: 16px;
      line-height: 22px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      @include HN-Bold;
    }
    
    .error {
      margin-bottom: 20px;
      color: #b94a48;
      background-color: #f2dede;
      border: 1px solid #eed3d7;      
    }
    
    .message {
      color: #468847;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    
    .submit {
      background: #00B26B;
      color: white;
      padding: 30px;
      font-size: 20px;
      border: 0px;
      line-height: 20px;
      @include transition(0.2s);
      cursor: pointer;
      border-radius: 10px;
      
      span {
        font-size: 40px;
        vertical-align: top;
      }
      
      &:hover {
        background: #00FF99;
      }
    }
    
    .form-role {
      background: white;
      border: 1px solid #dadada;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 20px;
      
      h2 {
        @include transition(0.15s);
        cursor: pointer;
        display: inline-block;
        
        &:hover {
          color: red;
        }
      }
    }
  }
  
  .due-date {
    font-style: italic;
    line-height: 1.3em;
  }
  
  .application {
    .panel {
      textarea {
        height: 200px;
        padding: 10px;
        margin: 0px;
        border: 1px solid #dadada;
        resize: none;
        @include HN-Light;
        font-size: 14px;
        outline: none;
        &:hover {
          border: 1px solid #888;
        }
        &:focus {
          border: 1px solid #777;
        }
      }
    }
  }
}

// Student speaker competition
#student-speaker-competition {
  
  $background-height: 500px;
  
  .background {
    min-width: $width;
    position: absolute;
    top: $header-height;
    height: $background-height;
    width: 100%;
    background-image: image-url("compbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    
    video {
      z-index: 0;
      position: absolute;
    }
    
    .hover {
      position: absolute;
      bottom: 50px;
      color: white;
      padding-right: 20%;
      z-index: 1;
      
      h1 {
        @include HN-Light;
        font-weight: 100;
        font-size: 5em;
        line-height: 1.3em;
      }
      
      p {
        font-size: 1.4em;
        line-height: 1.5em;
        @include HN-Light;
      }
    }
  }
  
  .main {
    margin-top: $background-height - 20px;
    
    h2 {
      @include HN-Bold;
      text-transform: uppercase;
    }
    
    p {
      @include HN-Light;
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }
  
  .buttons {
    background: transparent;
    height: 50px;
    display: inline-block;
    border: 1px solid #777;
    border-radius: 10px;
    margin-top: 20px;
    
    button {
      height: 50px;
      border: none;
      float: left;
      display: block;
      padding: 0 20px;
      margin: 0;
      background: transparent;
      border-left: 1px solid #777;
      cursor: pointer;
      @include HN-Bold;
      color: #333;
      text-transform: uppercase;
      font-size: 1.2em;
      outline: none;
      
      &:hover,
      &:focus {
        background: #eee;
      }
      
      &:first-child {
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      
      &:active,
      &.active {
        background: #ddd;
        color: black;
      }
    }
  }
  
  .main,
  .secondary {
    padding: 20px 0;
  }
  
  .message {
    border-top: 1px solid;
    @include HN-Regular;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 15px 0;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    
    &.success {
      color: #468847;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    &.error {
      color: #b94a48;
      background-color: #f2dede;
      border-color: #eed3d7;
    }
  }
  
  .secondary {
    background: #fafafa;
    border-top: 1px solid #dadada;
    width: 100%;
    
    form {
      margin-top: 20px;
      .form-field {
        margin-bottom: 20px;
      }
      
      label,
      input,
      textarea {
        width: 50%;
      }
      
      label {
        display: block;
        text-transform: uppercase;
        @include HN-Regular;
      }
      
      input,
      textarea {
        @include HN-Light;
        line-height: 1.3em;
        border: 1px solid #dadada;
        padding: 10px;
        outline: none;
        resize: none;
      }
      
      input {
        font-size: 1.5em;
      }
      
      textarea {
        height: 70px;
        font-size: 1.3em;
      }
      
      input[type=submit] {
        width: auto;
        border: 2px solid red;
        border-radius: 10px;
        font-size: 2.5em;
        line-height: 1em;
        padding: 20px;
        color: red;
        cursor: pointer;
        background: white;
        
        &:hover,
        &:focus {
          background: #fafafa;
        }
        
        &:active {
          background: #eee;
        }
      }
    }
  }
}