// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.wrapper {
  .menu_left {
    .menu {
      .title {
        .wiki_image {
          width: 50px;
          height: 50px;
          background: #ff0000;
          float: left;
          background-size: 50px 50px;
          background-image: url('/assets/wiki.png')
        }
      }
      .item {
        span {
          padding: 10px;
          line-height: 30px;
        }
      }
    }
  }
  .menu_right {
    .wiki {
      background: #fff;
      padding: 25px 20px;
      box-shadow: 0 0 4px rgba(0,0,0,0.4);
      .title {
        width: 100%;
        border-bottom: 1px solid #333;
        @include HN-Bold;
        font-size: 25px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        a {
          @include HN-Light;
          float: right;
          font-style: italic;
          color: #e60000;
          font-size: 15px;
          line-height: 25px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .body {
        margin-bottom: 30px;
        width: 100%;
        @include HN-Regular;
        p {
          @include HN-Regular;
        }
        h3 {
          @include HN-Regular;
          text-decoration: underline;
        }
      }
    }
    .wiki_title {
      width: 680px;
      padding: 10px;
      background: #fff;
      border: 1px solid #dadada;
      color: #333;
      @include HN-Bold;
      font-size: 25px;
      margin-bottom: 10px;
      outline: none;
      &:hover {
        border: 1px solid #777;
      }
    }
    h5 {
      font-size: 12px;
      color: #e60000;
      margin: 0px;
      padding: 0px;
      @include HN-Light;
      margin-bottom: 10px;
      float: left;
    }
    span.delete {
      float: right;
      @include HN-Bold;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .wiki_body {
      width: 680px;
      padding: 10px;
      background: #fff;
      border: 1px solid #dadada;
      color: #333;
      @include HN-Regular;
      outline: none;
      font-size: 14px;
      margin-bottom: 10px;
      &:hover {
        border: 1px solid #777;
      }
    }
    .wiki_submit {
      width: 100%;
      height: 50px;
      text-align: center;
      background: #ff0000;
      @include HN-Regular;
      color: #fff;
      font-size: 15px;
      line-height: 20px;
      text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
      background: -moz-linear-gradient(0% 100% 90deg, #CF0000, #E60000);
  	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E60000), to(#CF0000));
      background: -moz-linear-gradient(0% 100% 90deg, #CF0000, #E60000);
      -pie-background: linear-gradient(#E60000, #CF0000);
      border-radius: 3px;
      border: 1px solid #990000;
      cursor: pointer;
      &:hover {
        background: #E60000;
      }
      &:active {
        background: -moz-linear-gradient(0% 100% 90deg, #E60000, #CF0000);
    	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CF0000), to(#E60000));
        background: -moz-linear-gradient(0% 100% 90deg, #E60000, #CF0000);
        -pie-background: linear-gradient(#CF0000, #E60000);
      }
      a {
        height: 100%;
        width: 100%;
        display: block;
        padding: 10px 0;
        color: #fff;
        text-decoration: none;
        span.plus {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}