// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.wrapper {
  .box {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .facebook {
      padding-bottom: 25px;
      border-bottom: 1px solid #dadada;
      .user_fb {
        background-image: url("/assets/facebook_logo.png");
        background-repeat: no-repeat;
        background-size: auto 46px;
        width: 272px;
        margin: auto;
        height: 46px;
        cursor: pointer;
        span {
          background-image: url("/assets/facebook_bg.png");
          background-repeat: no-repeat;
          background-size: 225px 46px;
          display: block;
          line-height: 46px;
          margin-left: 46px;
          color: white;
          font-size: 16px;
          @include HN-Regular;
        }
      }
    }
    h2 {
      @include HN-Bold;
      color: #555;
      font-size: 18px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .form {
      input {
        width: 468px;
        padding: 15px;
        line-height: 40px;
        font-size: 20px;
        border: 1px solid #dadada;
        margin: 0px;
        color: #555;
        @include HN-Light;
        outline: none;
        -webkit-transition: 0.2s;
        margin-bottom: 10px;
        &:hover {
          border: 1px solid #999;
        }
        &:focus {
          border: 1px solid #888;
        }
      }
      .submit {
        width: 100%;
        background: #eee;
        border: 1px solid #777;
        color: #444;
        @include HN-Light;
        outline: none;
        -webkit-transition: 0.2s;
        cursor: pointer;
        &:hover {
          border: 1px solid #555;
          background: #fafafa;
        }
        &:focus {
          border: 1px solid #555;
          background: #fafafa;
        }
        &:active {
          background: #fff;
        }
      }
    }
    .login_link {
      margin-top: 20px;
      display: block;
      outline: none;
      text-align: center;
      @include HN-Light;
      font-style: italic;
      color: red;
      font-size: 15px;
      width: 100%;
    }
  }
}