// Place all the styles related to the Speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

@mixin transition ($transition) {
	-webkit-transition: #{$transition};  
	-moz-transition:    #{$transition};
	-ms-transition:     #{$transition};
	-o-transition:      #{$transition};  
}

// Speaker Header
.speaker-header {
  padding: 10px;
  width: 980px;
  background: white;
  border: 1px solid #dadada;
  @include HN-Bold;
  .image {
    float: left;
    width: 40px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
    }
    &.missing {
      width: 36px;
      height: 36px;
      border: 2px solid #AAA;
    }
  }
  .name {
    font-size: 30px;
    line-height: 40px;
    margin-left: 50px;
  }
}

// Container
.speaker-container {
  width: 1000px;
  min-height: 300px;
  position: relative;
  margin-top: 20px;
}

// Speaker Menu
.speaker-menu {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  border: 1px solid #dadada;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  li {
    width: 200px;
    border-bottom: 1px solid #dadada;
  }
  a {
    display: block;
    text-decoration: none;
    @include HN-Regular;
    width: 180px;
    padding: 10px;
    color: #333;
    @include transition(0.2s);
    &:hover {
      background: #fafafa;
      color: black;
    }
    &.selected {
      border-right: 5px solid #e60000;
      width: 176px;
    }
  }
}

// Speaker Form
.speaker-form {
  margin-left: 220px;
  width: 780px;
  margin-top: 0px;
  .form-header {
    @include HN-Bold;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 7px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
    span.notice {
      float: right;
      @include HN-Regular;
      color: red;
      font-size: 15px;
      font-style: italic;
    }
  }
  .document {
    background: white;
    border: 1px solid #dadada;
    padding: 25px;
    @include HN-Regular;
    h1 {
      text-align: center;
      border-bottom: 1px solid #eee;
      @include HN-Regular;
      line-height: 45px;
    }
  }
  .certify {
    @include HN-Regular;
    font-size: 20px;
    margin: 20px 0px;
    line-height: 30px;
  }
  label {
    @include HN-Regular;
    font-size: 15px;
  }
  p {
    margin: 0px;
  }
  input, textarea {
    width: 400px;
    @include HN-Regular;
    margin: 7px 0px;
    outline: none;
    background: white;
    padding: 10px;
    border: 1px solid #dadada;
    margin-bottom: 15px;
  }
  input {
    font-size: 20px;
    line-height: 30px;
  }
  input[type='file'] {
    width: 400px;
    font-size: 18px;
    line-height: 20px;
    border: 0px;
    padding: 0px;
    background: transparent;
  }
  textarea {
    resize: none;
    font-size: 14px;
    line-height: 18px;
    height: 200px;
  }
  input[type='submit'] {
    width: 200px;
    @include transition(0.2s);
    cursor: pointer;
    &:hover {
      background: #fafafa;
      color: #e60000;
    }
    &:active {
      background: #eee;
    }
  }
}

//Checklist
.checklist {
  @include HN-Regular;
  h5 {
    @include HN-Regular;
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    border-bottom: 1px solid #dadada;
  }
  input[type='checkbox'] {
    width: 30px;
  }
  a {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}