//Mixins
@import "mixins";

// Variables
$header-height: 80px;
$menu-height: 50px;
$speaker-menu-height: 90px;

#video-player {
  width: 100%;
  height: 562px + $speaker-menu-height;
  background: black;
  position: relative;
  
  #player,
  #speaker-menu {
    position: absolute;
    left: 50%;
    margin-left: -500px;
  }
  
  #speaker-menu {
    width: 1000px;
    height: $speaker-menu-height;
    bottom: 0;
    
    .name {
      color: white;
      display: inline-block;
      @include HN-Light;
      line-height: $speaker-menu-height;
      font-size: 1.6em;
    }
    
    .vote {
      float: right;
      height: $speaker-menu-height / 2;
      margin-top: $speaker-menu-height / 4;
      border: 2px solid white;
      color: white;
      background: transparent;
      @include border-radius(5px);
      @include HN-Regular;
      font-size: $speaker-menu-height / 5;
      padding: 0 25px;
      cursor: pointer;
      @include transition(0.2s);
      outline: none;
      
      &:hover {
       background: #333;
      }
    }
  }
}

#competition-menu {
  width: 100%;
  background: #eee;
  height: $menu-height;
  border-bottom: 1px solid #dadada;
  
  .competition-menu-item {
    float: left;
    padding: 0 10px;
    
    a.menu-item-link {
      padding: 5px 10px;
      @include HN-Bold;
      line-height: $menu-height;
      font-size: $menu-height / 3;
      color: #333;
      text-decoration: none;
      @include border-radius(5px);
      @include transition(0.2s);
      outline: none;
      
      &:hover {
        background: #ddd;
      }
      
      &.selected {
        color: red;
        background: #dadada;
      }
    }
  }
  
  .menu-item-right {
    padding: 0 20px;
    @include HN-Regular;
    line-height: $menu-height;
    font-size: $menu-height / 3;
    
    span {
      @include HN-Bold;
    }
  }
  
  .menu-item-social {
    padding-top: 15px;
  }
  
  .menu-item-right {
    float: right;
  }
}

#student-videos {
  margin-top: 20px;
  min-height: 200px;
  
  .student-video {
    display: block;
    float: left;
    @include calc(width, "33% - 30px");
    padding: 10px;
    background: white;
    border: 1px solid #eee;
    margin: 5px;
    @include transition(border 0.2s);
    cursor: pointer;
    text-decoration: none;
    color: #111;
    
    &:hover {
      border: 1px solid #ccc;
      
      .image-cover {
        opacity: 0.1;
      }
    };
    
    .student-info {
      @include HN-Bold;
      font-size: 20px;
      padding-bottom: 10px;
    }
    
    .votes {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      @include HN-Light;
      font-size: 100px;
      line-height:  183px;
      color: white;
    }
    
    .student-image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      position: relative;
    }
    
    .image-cover {
      width: 100%;
      height: 100%;
      opacity: 0.25;
      background-color: blue;
      position: absolute;
      top: 0;
      left: 0;
      @include transition(opacity 0.2s);
    }
  }
}

.voting_text {
  @include HN-Light;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 30px;
  span {
    @include HN-Bold;
  }
}

#leaderboard {
  width: 958px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #dadada;
  min-height: 215px;
  .student_leader {
    float: left;
    width: 300px;
    margin-left: 29px;
    &:first-child {
      margin-left: 0px;
    }
    .rank_info {
      @include HN-Bold;
      font-size: 20px;
      padding-bottom: 10px;
    }
    .rank_image {
      width: 300px;
      position: relative;
      height: 183px;
      img {
        width: 300px;
        height: 183px;
      }
      .image_cover {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: blue;
        opacity: 0.4;
      }
    }
    .rank_votes {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      @include HN-Light;
      font-size: 100px;
      line-height:  183px;
      color: white;
    }
  }
}

.notice {
  h4 {
    @include HN-Bold;
    font-size: 20px; 
  }
  p {
    @include HN-Light;
    font-size: 16px;
    display: block;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: black;
      @include HN-Bold;
      &:hover {
        border-bottom: 3px solid black;
      }
    }
  }
  a.another {
    @include HN-Bold;
    background: -moz-linear-gradient(0% 100% 90deg, #E60000, #ff0000);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0000), to(#E60000));
    background: -moz-linear-gradient(0% 100% 90deg, #E60000, #ff0000);
    -pie-background: linear-gradient(#ff0000, #E60000);
    border-radius: 3px;
    border: 1px solid #990000;
    font-size: 18px;
    line-height: 21px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background: red;
    }
  }
}