// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Mixins
@mixin HN-Light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
@mixin HN-Bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
@mixin HN-Regular {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

.videos_info {
  clear: both;
  padding-bottom: 15px;
  h2 {
    @include HN-Bold;
    font-size: 25px;
    line-height: 35px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    margin: 0;
    text-align: center;
  }
  h5 {
    @include HN-Light;
    font-size: 14px;
    color: #777;
    padding: 10px 0;
    margin: 0;
  }
}
.player {
  width: 100%;
  background: #000;
  height: 0px;
  display: none;
  .player_container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 562px;
    position: relative;
    iframe {
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
    }
    .close {
      display: none;
      position: absolute;
      top: 10px;
      left: 10px;
      height: 50px;
      width: 50px;
      background-image: url('/assets/close.png');
      background-repeat: no-repeat;
      opacity: 0.6;
      z-index: 10;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.nav_bar {
  background: #fff;
  width: 1010px;
  height: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  margin: 20px 0;
}
.videos {
  margin: 20px 0;
  width: 1020px;
  margin-left: -5px;
  .video {
    margin: 10px;
    float: left;
    width: 184px;
    height: 185px;
    cursor: pointer;
    position: relative;
    .event {
      line-height: 11px;
      font-size: 11px;
      background: #fff;
      color: #333;
      padding: 6px;
      width: 172px;
      @include HN-Light;
      text-transform: uppercase;
      z-index: 1;
      position: relative;
      box-shadow: 0 0 2px rgba(0,0,0,0.4);
    }
    .image {
      height: 104px;
      z-index: 10;
      width: 184px;
      position: relative;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 1px;
      margin-left: -2px;
      box-shadow: 0 0 3px rgba(0,0,0,0.4);
      img {
        width: 184px;
        height: 104px; 
      }
      .play_cover {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 11;
        cursor: pointer;
      }
      .play {
        display: none;
        z-index: 12;
        position: absolute;
        top: 32px;
        left: 80px;
        width: 0; 
      	height: 0; 
      	border-top: 20px solid transparent;
      	border-bottom: 20px solid transparent;
      	border-left: 24px solid #fff;	
      }
    }
    .info {
      position: absolute;
      top: 130px;
      width: 168px;
      padding: 8px;
      background: #fff;
      box-shadow: 0 0 3px rgba(0,0,0,0.4);
      .speaker {
        @include HN-Bold;
        color: #000;
      }
      .title {
        @include HN-Light;
        font-style: italic;
        color: #e60000;
        margin:0px;
        font-size: 14px;
        display: none;
      }
    }
  }
}