.speaker-menu
  %ul
    %li
      -if selected == 'checklist'
        %a( href="/speaker" class="selected") Checklist
      -else
        %a( href="/speaker" ) Checklist
    %li
      -if selected == 'personal'
        %a( href="/speaker/personal" class="selected") Personal Information
      -else
        %a( href="/speaker/personal" ) Personal Information
    %li
      -if selected == 'questionnaire'
        %a( href="/speaker/questionnaire" class="selected") Questionnaire
      -else
        %a( href="/speaker/questionnaire" ) Questionnaire
    %li
      -if selected == 'talk'
        %a( href="/speaker/talk" class="selected") Talk Information
      -else
        %a( href="/speaker/talk" ) Talk Information
    %li
      -if selected == 'release_form'
        %a( href="/speaker/release_form" class="selected") Release Form
      -else
        %a( href="/speaker/release_form" ) Release Form